<div class="home">
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>

<div class="services">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="text-center"><h1>Our Services</h1></div>
	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1"></li>
	    <li data-target="#demo" data-slide-to="2"></li>
	  </ul>
	  
	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="https://cdn.pixabay.com/photo/2018/06/12/20/17/football-3471402__340.jpg" alt="Los Angeles">
	    </div>
	    <div class="carousel-item">
	      <img src="https://www.newmiltontowncouncil.gov.uk/wp-content/uploads/2017/05/ashley-sports-ground_496411186-1-1160x574.jpg" alt="Chicago">
	    </div>
	    <div class="carousel-item">
	      <img src="http://www.iisermohali.ac.in/images/Sports/sportsfacilities/Athletics%20track.png" alt="New York">
	    </div>
	  </div>
	  
	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>
	</div>
</div>


<div class="events">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="text-center"><h1>Events Available</h1></div>
	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1"></li>
	    <li data-target="#demo" data-slide-to="2"></li>
	  </ul>
	  
	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="https://cdn.pixabay.com/photo/2018/06/12/20/17/football-3471402__340.jpg" alt="Los Angeles">
	    </div>
	    <div class="carousel-item">
	      <img src="https://www.newmiltontowncouncil.gov.uk/wp-content/uploads/2017/05/ashley-sports-ground_496411186-1-1160x574.jpg" alt="Chicago">
	    </div>
	    <div class="carousel-item">
	      <img src="http://www.iisermohali.ac.in/images/Sports/sportsfacilities/Athletics%20track.png" alt="New York">
	    </div>
	  </div>
	  
	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>
	</div>
</div>


<div class="gallery">
	<div id="demo" class="carousel slide" data-ride="carousel">
		<div class="text-center"><h1>Gallery</h1></div>
	  <!-- Indicators -->
	  <ul class="carousel-indicators">
	    <li data-target="#demo" data-slide-to="0" class="active"></li>
	    <li data-target="#demo" data-slide-to="1"></li>
	    <li data-target="#demo" data-slide-to="2"></li>
	  </ul>
	  
	  <!-- The slideshow -->
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="https://cdn.pixabay.com/photo/2018/06/12/20/17/football-3471402__340.jpg" alt="Los Angeles">
	    </div>
	    <div class="carousel-item">
	      <img src="https://www.newmiltontowncouncil.gov.uk/wp-content/uploads/2017/05/ashley-sports-ground_496411186-1-1160x574.jpg" alt="Chicago">
	    </div>
	    <div class="carousel-item">
	      <img src="http://www.iisermohali.ac.in/images/Sports/sportsfacilities/Athletics%20track.png" alt="New York">
	    </div>
	  </div>
	  
	  <!-- Left and right controls -->
	  <a class="carousel-control-prev" href="#demo" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	  </a>
	  <a class="carousel-control-next" href="#demo" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	  </a>
	</div>
</div>


<div class="about_us">
	<div class="text-center"><h1>About Us</h1></div>
	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</div>